.applicant-details h3 {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .applicant-details {
    flex: 1;
  }
  
  .applicant-details p {
    margin: 5px 0;
  }
  
  .applicant-details p:first-child {
    font-weight: bold;
  }

  .approve-button {
    margin-left: 10px;
    background-color: #b0e57c;
    color: white;
    margin-right: 10px; 
  }
  
  .reject-button {
    background-color: #e57373;
    color: white;
    margin-right: 10px; 
  }